<div class="card">
  <div class="card-body">
    <h5 class="titulo">CREAR TARJETA</h5>
    <form [formGroup]="form" (ngSubmit)="crearTarjeta">
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-circle-user"></i></span>
        <input type="text" formControlName="titular" class="form-control" placeholder="titular">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-credit-card"></i>
        </span>
        <input type="text" formControlName="numeroTarjeta" class="form-control" placeholder="Numero Tarjeta">
      </div>
      <div class="row">
        <div class="col-lg-7">
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i>
            </span>
            <input type="text" formControlName="fechaExpiracion" class="form-control" placeholder="MM/YY">
          </div>
        </div>
        <div class="col-lg-5">
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="fa-solid fa-key"></i>
            </span>
            <input type="password" formControlName="cvv" class="form-control" placeholder="CVV">
          </div>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-success btn-lg" type="submit"
        ><i class="fa-solid fa-database"></i> &nbsp;Aceptar</button>
      </div>
    </form>
  </div>
</div>